   <nav class="navbar navbar-inverse fixed-top opaque-navbar">
      <a class="navbar-brand" href="index.html">
       <img src="app/image/logo.png" width="140" height="140" alt="logo" class="img-fluid ysneakerLogo">
     </a>
     <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()">
      <div class="menu-button">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </button> -->

    <div id="mySidenav" class="sidenav">
      <ul>
        <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </li>
        <li><a class="upperCase" href="about.html">ABOUT</a></li>
      
        <li><a class="slideMenuProduct" href="#">LET'S PLAY <i class="fa fa-angle-right menuSecondary" aria-hidden="true" id="menuSecondarySlider"></i></a>
          <ul class="sub-menu">
           <li><a href="sirius.html">Sirius</a></li>
            <li><a href="altair.html">Altair</a></li>
            <li><a href="spica.html">Spica</a></li>
            <li><a href="vega.html">Vega</a></li>
            <li><a href="antares.html">Antares</a></li>
            <li><a href="rigel.html">Rigel</a></li>
          </ul>
        </li>
        <li><a class="upperCase" href="inspiration.html">INSPIRATION</a></li>
        <li><a class="upperCase" href="channely.html">CHANNEL Y</a></li>
       <!--  <li><a class="upperCase" href="blog.html">BLOG-EXPANDED</a></li> -->
        <li><a class="upperCase" href="contact.html">CONTACT</a></li>
      </ul>

      <div class="cd-navigation socials ">
        <ul class="footer2-soc-a list-unstyled d-flex justify-content-center align-items-center">
          <li><a href="https://www.facebook.com/YSNEAKERS.OFFICIAL/" title="Facebook" target="_blank"><img src="app/image/0003-facebook-logo.png"></a></li>
          <li><a href="https://www.instagram.com/ysneakers_official/" title="instagram" target="_blank"><img src="app/image/0002-instagram-logo.png"></a></li>
          <li><a href="http://www.diamond-walker.com/" title="Diamond Walker" target="_blank"><img src="app/image/0001-big-diamond.png"></a></li>
        </ul>
      </div>  <!-- socials -->
    </div>
  </nav>